<div class="main-sidebar">
   <div class="sidebar">
      <div class="user-panel">
         <div class="pull-left image">
            <h3 class="header-circ">

            </h3>
         </div>
         <div class="pull-left info" style="vertical-align: middle; margin-top: 5px;">
            <p></p>
         </div>
         <div class="clearfix"></div>
         <span class="hidden-xs description">
            <p></p>
         </span>
      </div>
      <ul class="sidebar-menu">
         <li class="header">Overview</li>
         <li>

         </li>
         <li>

         </li>
      </ul>
      <ul class="sidebar-menu">
         <li class="header">Standups</li>
         <li>
            <a href="/t/s">
               <div class="fa fa-child"></div>
               <span>View</span>
            </a>
         </li>
      </ul>
   </div>
</div>
